/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo-img {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  letter-spacing: 35px;
  animation: slide-from-left 0.5s ease-in-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 14px;
  font-weight: 700;
  animation: slide-from-right 0.7s ease-in-out;
}

@keyframes slide-from-left {
  0% {
    transform: translate(-30%);
    opacity: 0;
  }
  80% {
    transform: translate(10px);
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translate(30%);
    opacity: 0;
  }
  80% {
    transform: translate(-10px);
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
  display: inline-block;
  transition: all 0.2s linear;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn-white::after {
  background-color: red;
}

.btn:hover::after {
  scale: 1.5;
}
