// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;

// GRID
$grid-width: 114rem;
$vertical-guter: 8rem;
$horizontal-gutter: 6rem;
