// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #f7f7f7;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$vertical-guter: 8rem;
$horizontal-gutter: 6rem;
