body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: slide-from-left 0.5s ease-in-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.4rem;
    font-weight: 700;
    animation: slide-from-right 0.7s ease-in-out;
  }
}
