/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.accordion {
  width: 700px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 24px;
  font-weight: 500;
  color: #087f5b;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #adb5bd;
}
.icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.hidden-text {
  grid-column: 2/3;
  display: none;
}

.hidden-text p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-text ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open .hidden-text {
  display: block;
}

.open {
  border-top: 5px solid #087f5b;
}

.open .number,
.open .text {
  font-size: 24px;
  font-weight: 500;
  color: #087f5b;
}
