@use "../abstract/variables" as variables;

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(variables.$color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.1);
      border-bottom: 3px solid variables.$color-primary;
    }

    &::placeholder {
      color: variables.$color-grey-dark-2;
    }

    &:focus:invalid {
      border-bottom: 3px solid variables.$color-secondary-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 45%;
    display: inline-block;
  }

  &__radio-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: variables.$default-font-size;
    cursor: pointer;
  }

  &__radio-input {
    visibility: hidden;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid variables.$color-primary;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1.25rem;
      width: 1.25rem;
      background-color: variables.$color-primary;
      border-radius: 50%;
      display: inline-block;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &__radio-input:checked ~ &__radio-label > &__radio-button::after {
    opacity: 1;
  }
}
