.section-about {
  height: 95vh;
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-9deg);
  margin-top: -10vh;

  & > * {
    transform: skewY(9deg);
  }
}
