@use "../abstract/variables" as variables;

.section-about {
  background-color: variables.$color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.8),
      rgba(variables.$color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12vh;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  margin-top: -10rem;
  padding: 25rem 0 15rem 0;
  background-color: variables.$color-grey-light;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, variables.$color-primary-light, variables.$color-primary-dark);
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(variables.$color-white, 0.9) 0%,
      rgba(variables.$color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.2);
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
